<router-outlet></router-outlet>

<footer class="footer mt-auto py-3 bg-light">
  <div class="container-fluid p-5 bg-light text-black text-center">
    &copy; Copyright 2024 <a href="https://www.rizauddin.com">rizauddin.com</a>. All Rights Reserved.

    <div class="text-center mt-5">
      <p class="mb-0">
        <small>
          <p>
            <strong>Disclaimer:</strong> This application is provided strictly for educational purposes. Please be aware that this application does not collect, store, or process any personal data from its users. While every effort has been made to ensure the accuracy and reliability of the information within the application, the creators and contributors of this application are not responsible for any errors, omissions, misinterpretations, or actions taken based on this information. This application is intended for use as an educational tool only and should not be relied upon for professional or commercial purposes. Any use of the application is at the user's sole risk, and it should not replace professional advice or expertise in specific areas.
          </p>
        </small>
      </p>
    </div>
  </div>
</footer>
